{{ $text := .Site.Data.landing.hero.text }}
{{ $actions := .Site.Data.landing.hero.actions }}
{{ with resources.Get
"images/ggss_hero.webp" }}
<div class="inner" style="background-image: url({{.RelPermalink}})">
  <div class="content container">
    <header>
      <hgroup class="text">
        <p class="super">{{ $text.super }}</p>
        <p class="main">{{ $text.main }}</p>
        <p class="sub">{{ $text.sub }}</p>
      </hgroup>
      <hgroup class="actions">
        <a href="#">
          <button>{{ $actions.buttons.discover }}</button>
        </a>
        <a href="#">
          <button class="secondary">{{ $actions.buttons.about }}</button>
        </a>
      </hgroup>
    </header>
  </div>
</div>
{{ end }}
