<nav id="topNav" class="container">
  <ul class="menu-toggle">
    <li>
      <script>
        const toggleShowMenu = () => {
          const body = document.querySelector('body');
          body.classList.toggle('lock-scroll');
          const menu = document.querySelector('ul.menu');
          menu.classList.toggle('show');
        };
      </script>
      <button class="icon" onclick="toggleShowMenu()">
        <svg viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5.5 11.75C5.08579 11.75 4.75 12.0858 4.75 12.5C4.75 12.9142 5.08579 13.25 5.5 13.25V11.75ZM19.5 13.25C19.9142 13.25 20.25 12.9142 20.25 12.5C20.25 12.0858 19.9142 11.75 19.5 11.75V13.25ZM5.5 7.75C5.08579 7.75 4.75 8.08579 4.75 8.5C4.75 8.91421 5.08579 9.25 5.5 9.25V7.75ZM14.833 9.25C15.2472 9.25 15.583 8.91421 15.583 8.5C15.583 8.08579 15.2472 7.75 14.833 7.75V9.25ZM5.5 15.75C5.08579 15.75 4.75 16.0858 4.75 16.5C4.75 16.9142 5.08579 17.25 5.5 17.25V15.75ZM14.833 17.25C15.2472 17.25 15.583 16.9142 15.583 16.5C15.583 16.0858 15.2472 15.75 14.833 15.75V17.25ZM5.5 13.25H19.5V11.75H5.5V13.25ZM5.5 9.25H14.833V7.75H5.5V9.25ZM5.5 17.25H14.833V15.75H5.5V17.25Z" fill="#000000"></path> </g></svg>
      </button>
    </li>
  </ul>
  <ul class="menu">
    <button class="outline close" onclick="toggleShowMenu()">Close</button>
    <li class="root">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/services#web-design">Web Design</a>
    </li>
    <li>
      <a href="/services#site-maintenance">Site Mainentance</a>
    </li>
    <li>
      <a href="/services#search-engine-optimization-seo">SEO</a>
    </li>
    <li>
      <a class="secondary" href="/about">About</a>
    </li>
  </ul>
  <ul class='logo'>
    <li>
      <a href="{{ .Site.BaseURL }}">
        {{ with resources.Get "images/logo.png" | resources.Fingerprint }}
        <img src="{{ .Permalink }}" alt="Logo" style="width: 2.5rem; height: 2.5rem;" />
        {{ end }}
      </a>
      </a>
    </li>
  </ul>
  <ul class="contact">
    <li>
      <a href="mailto:{{ .Site.Params.email }}?subject=GGSS%20Prototype" target="_blank">
        {{ with .Site.Data.nav.menu.tertiary}}
        <button class="pico-color-red-500 outline">          
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#D93526"></path> </g></svg>
          <span>{{ .text }}</span>
        </button>
        {{ end }}
      </a>
    </li>
  </ul>
</nav>
