<nav id="topNav" class="container">
  <ul class="menu-toggle">
    <li>
      <script>
        const toggleShowMenu = () => {
          const body = document.querySelector('body');
          body.classList.toggle('lock-scroll');
          const menu = document.querySelector('ul.menu');
          menu.classList.toggle('show');
        };
      </script>
      <button onclick="toggleShowMenu()">Menu</button>
    </li>
  </ul>
  <ul class="menu">
    <button class="outline close" onclick="toggleShowMenu()">Close</button>
    <li class="root">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/services#web-design">Web Design</a>
    </li>
    <li>
      <a href="/services#site-maintenance">Site Mainentance</a>
    </li>
    <li>
      <a href="/services#search-engine-optimization-seo">SEO</a>
    </li>
    <li>
      <a class="secondary" href="/about">About</a>
    </li>
  </ul>
  <ul class='logo'>
    <li>
      <a href="{{ .Site.BaseURL }}">
        {{ with resources.Get "images/logo.png" | resources.Fingerprint }}
        <img src="{{ .Permalink }}" alt="Logo" style="width: 2.5rem; height: 2.5rem;" />
        {{ end }}
      </a>
      </a>
    </li>
  </ul>
  <ul class="contact">
    <li>
      <a href="mailto:{{ .Site.Params.email }}?subject=GGSS%20Prototype" target="_blank">
        {{ with .Site.Data.nav.menu.tertiary}}
        <button class="pico-background-red-500">{{ .text }}</button>
        {{ end }}
      </a>
    </li>
  </ul>
</nav>
